.flex-container {
  display: flex;
  flex-direction: row;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

// @media screen and (max-width: 768px) {
//   .container {
//     width: 96vw;
//     display: flex;
//     justify-content: center;
//   }
// }

.flex-item-one {
  flex-grow: 1;
  width: 4vw;
}
.flex-item-two {
  flex-grow: 1;
  width: 96vw;
}
